body,
html{
      margin: 0;
      padding: 0;
      height: 100%;
}

svg {
      display: block;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
}
  
.scrollElement {
      position: absolute;
      height: 6000px;
      width: 100px;
      top: 0;
      z-index: 0;
}
.container {
  width:1000px;
  margin:auto;
  margin-top:25px;
}

blockquote {
  text-align:Center;
  margin-top:35px;
}

.websitedisplay {
  width:1200px;
  height:450px;
  background-color:transparent;
  border-radius:0px;
 
  overflow:hidden;
  white-space:nowrap;
  position:relative;
  display:inline-block;
  margin-left:15px;
  margin-right:15px;
	margin-top: 10%;
}


.websitedisplay:hover > .information {
  margin-left:-859px;
  opacity:0;
}

.information {
  display:inline-block;
  width:450px;
  height:250px;
  -webkit-transition:all 0.7s linear;
  position:static;
}
.information-2 {
  display:inline-block;
  width:250px;
  height:250px;
  -webkit-transition:all 0.7s linear;
  position:static;
}

.laptop {
  display:inline-block;
  width:1400px;
  height:250px;
  position:relative;
}

.information h1 {
  font-family:'lato','segoe ui regular',arial;
  font-weight:bolder;
  font-size:38px;
  position:absolute;
  top:50px;
  left:20px;
}
.information-2 h1 {
  font-family:'lato','segoe ui regular',arial;
  font-weight:bolder;
  font-size:18px;
  position:relative;
  bottom:5px;
  right:450px;
}

.information h2 {
  font-family:'lato','segoe ui light',arial;
  font-size:32px;
  position:absolute;
  font-weight:100;
  top:140px;
  left:20px;
}
.information-2 h2 {
  font-family:'lato','segoe ui light',arial;
  font-size:16px;
  position:relative;
  font-weight:100;
  top:60px;
  left:20px;
}


.laptop img {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:30;
  margin:auto;
  width:390px;
  height:auto;
  -webkit-transition:all 0.3s linear;
}


.view {
  opacity:0;
  -webkit-transition:all 0.3s linear;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  -webkit-transform:rotateY(540deg);
   width:42px;
  height:42px;
  font-size:36px;
  text-align:center;
  text-decoration:none;
  overflow:hidden;
  background-color:#1b1b1b;
   border-radius:100%;
  font-weight:bolder;
  line-height:42px;
  vertical-align:middle;
}

.websitedisplay:hover > .view {
  -webkit-transform:rotateY(0deg);
  position:absolute;
  opacity:1;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  border-radius:100%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
}

.view:hover {
  background-color:#06f;
}

.featureddisplay {
	width:970px;
  height:350px;
  background-color:transparent;
  border-radius:3px;
  box-shadow:0 2px 15px rgba(0,0,0,0.1);
  overflow:hidden;
  white-space:nowrap;
  position:relative;
  display:inline-block;
  margin-left:15px;
  margin-top:15px;
	align-content: flex-end;
}

.featuredinformation {
margin:auto;
text-align:center;
}
.showreel{
z-index: 10000;
}

.featuredinformation h5 {
	position:absolute;
	top:10px;
	left:0;
	right:0;
	margin:auto;
	text-align:center;
	font-family:'latobold',arial;
	font-size:18px;
}

.featuredimage {

	top:170px;
	width:33%;
	display:inline-block;
	opacity:0.8;
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
	transition:all 0.3s linear;
}

.featuredimage:hover {
	top:40px;
	opacity:1;
}

.featuredDock {
	position:absolute;
	bottom:0;
	left:0;
	font-size:0;
	padding:0;
	margin:0;
}

.featuredButton {
	padding:0;
	margin:0;
	width:243px;
	height:45px;
	display:inline-block;
	color:#656565;
	font-size:16px;
	text-align:center;
	line-height:45px;
	vertical-align:middle;
	font-family:'latolight',arial;
		box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	webkit-box-text-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
	transition:all 0.3s linear;
}

.featuredButton:hover {
		box-shadow:inset 0 0 6px rgba(0,0,0,0.1);
	webkit-box-text-shadow:inset 0 0 6px rgba(0,0,0,0.11);
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

}
body {
  background: #bcdee7 url("https://scontent-lga3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/1897932_1085650611445377_3861281195292365503_n.jpg?oh=db2590634ddcc0035fc76cc7e80ebc58&oe=57247502") no-repeat center center fixed;


  font: normal 14px/1.618em "Hind", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body:before {
 
  z-index: 2;
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: puff_portrait 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  animation: puff_portrait 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
}

h1,
h2 {
  font-weight: 400;
  margin: 0px 0px 5px 0px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

p {
  margin: 0px;
}

.profile-card {
  background: #FFB300;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_landscape 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_landscape 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.profile-card header {
  width: 179px;
  height: 280px;
  padding: 40px 20px 30px 20px;
  display: inline-block;
  float: left;
  border-right: 2px dashed #EEEEEE;
  background: #FFFFFF;
  color: #000000;
  margin-top: 50px;
  opacity: 0;
  text-align: center;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-card header h1 {
  color: #FF5722;
}

.profile-card header a {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 25px 30px;
}

.profile-card header a:after {
  position: absolute;
  content: "";
  bottom: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  border: 4px solid #FFFFFF;
  -webkit-transform: scale(0);
  transform: scale(0);
  background: -webkit-linear-gradient(top, #2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
  background: linear-gradient(#2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
  animation: scaleIn 0.3s 3.5s ease forwards;
}

.profile-card header a > img {
  width: 120px;
  max-width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}

.profile-card header a:hover > img {
  -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.profile-card .profile-bio {
  width: 175px;
  height: 180px;
  display: inline-block;
  float: right;
  padding: 50px 20px 30px 20px;
  background: #FFFFFF;
  color: #333333;
  margin-top: 50px;
  text-align: center;
  opacity: 0;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-social-links {
  width: 218px;
  display: inline-block;
  float: right;
  margin: 0px;
  padding: 15px 20px;
  background: #FFFFFF;
  margin-top: 50px;
  text-align: center;
  opacity: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-social-links li {
  list-style: none;
  margin: -5px 0px 0px 0px;
  padding: 0px;
  float: left;
  width: 33.3%;
  text-align: center;
}

.profile-social-links li a {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 6px;
  position: relative;
  overflow: hidden!important;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.profile-social-links li a img {
  position: relative;
  z-index: 1;
}

.profile-social-links li a:before {
  display: block;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 36px;
  height: 36px;
  opacity: 1;
  -webkit-transition: transform 0.4s ease, opacity 1s ease-out;
  transition: transform 0.4s ease, opacity 1s ease-out;
  -webkit-transform: scale3d(0, 0, 1);
  transform: scale3d(0, 0, 1);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.profile-social-links li a:hover:before {
  -webkit-animation: ripple 1s ease forwards;
  animation: ripple 1s ease forwards;
}

.profile-social-links li a img,
.profile-social-links li a svg {
  width: 24px;
}

@media screen and (min-aspect-ratio: 4/3) {
  body {
    background-size: 100% auto;
  }
  body:before {
    width: 0px;
  }
  @-webkit-keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}

@media screen and (min-height: 480px) {
  .profile-card {
    -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_portrait 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_portrait 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }
  .profile-card header {
    width: auto;
    height: auto;
    padding: 30px 20px;
    display: block;
    float: none;
    border-right: none;
  }
  .profile-card .profile-bio {
    width: auto;
    height: auto;
    padding: 15px 20px 30px 20px;
    display: block;
    float: none;
  }
  .profile-social-links {
    width: 100%;
    display: block;
    float: none;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  body {
    background-size: 100% auto;
  }
  body:before {
    width: 0px;
    -webkit-animation: puff_landscape 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
    animation: puff_landscape 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  }
}

@-webkit-keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes puff_portrait {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes puff_portrait {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@-webkit-keyframes puff_landscape {
  0% {
    top: 100%;
    width: 0px;
    padding-bottom: 0px;
  }
  100% {
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
  }
}

@keyframes puff_landscape {
  0% {
    top: 100%;
    width: 0px;
    padding-bottom: 0px;
  }
  100% {
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
  }
}

@-webkit-keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    -webkit-border-radius: 0px;
  }
}

@keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@-webkit-keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes moveUp {
  0% {
    background: #FFB300;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #E0E0E0;
  }
}

@keyframes moveUp {
  0% {
    background: #FFB300;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #E0E0E0;
  }
}

@-webkit-keyframes materia_landscape {
  0% {
    background: #E0E0E0;
  }
  50% {
    -webkit-border-radius: 4px;
  }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    -webkit-border-radius: 4px;
  }
}

@keyframes materia_landscape {
  0% {
    background: #E0E0E0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 4px;
  }
}

@-webkit-keyframes materia_portrait {
  0% {
    background: #E0E0E0;
  }
  50% {
    -webkit-border-radius: 4px;
  }
  100% {
    width: 280px;
    height: 440px;
    background: #FFFFFF;
    -webkit-border-radius: 4px;
  }
}

@keyframes materia_portrait {
  0% {
    background: #E0E0E0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 280px;
    height: 440px;
    background: #FFFFFF;
    border-radius: 4px;
  }
}

@-webkit-keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}
@font-face {
  font-family: SFPro;
  src: url(https://assets.codepen.io/3522775/SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: SFPro-light;
  src: url(https://assets.codepen.io/3522775/SF-Pro-Text-Ultralight.otf);
}



.hero {
  
  min-height: 100vh;
  width: 100%;
  display: flex;
	justify-content: center;}

  .hero__content {
	  width: 80%;}

    .hero__content-preview {
      width: 100%;
      margin: 30px 0 10px 0;
      display: flex;
      justify-content: space-between;
		align-items: center;}
      .hero__content-preview-text {
        color: lightgray;
        font-size: 14px;
        line-height: 1.285;
        font-weight: 400;
        font-family: SFPro, "Helvetica Neue";
      }

      .hero__content-preview-ios {
        margin: 0;
        padding: 0;
        color: #1d1d1f;
        font-size: 20px;
        line-height: 1.285;
        font-weight: 600;
        font-family: SFPro, "Helvetica Neue";
      }

      .hero__content-preview-features {
        margin: 0;
        padding: 0;
        color: #1d1d1f;
        font-size: 14px;
        line-height: 1.285;
        font-weight: 600;
        font-family: SFPro, "Helvetica Neue";
        text-decoration: none;
      }
    }

    .hero__content-phones {
      min-height: 100vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .hero__content-preview-text {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      margin-bottom: 75px;
		margin-top: -50px;}

      .hero__content-text-ios14 {
        margin: 0;
        padding: 0;
        font-size: 25px;
        line-height: 1.28583;
        font-weight: 600;
        letter-spacing: 0.007em;
        font-family: SFPro, "Helvetica Neue";
      }

      .hero__content-text-headline {
        font-size: 72px;
        padding: 0;
        margin: 0;
        margin-top: 18px;
        line-height: 1.05556;
        font-weight: 600;
        letter-spacing: -0.012em;
        font-family: SFPro, "Helvetica Neue";
		text-align:right;
      }
      .hero__content-text-headline-2 {
        font-size: 72px;
        padding: 0;
        margin: 0;
        margin-top: 18px;
        line-height: 1.05556;
        font-weight: 600;
        letter-spacing: -0.012em;
        font-family: SFPro, "Helvetica Neue";
		text-align:left;
		  margin-left: 20%;
      }

      .hero__content-text-intro-text {
        margin: 22px 36px 31px 36px;
        font-size: 28px;
        line-height: 1.28583;
        font-weight: 600;
        letter-spacing: 0.007em;
        font-family: SFPro-light, "Helvetica Neue";
		  text-align:right;
      }

.keynote-container {}
        .hero__content-preview-text {
          font-size: 28px;
          line-height: 1.285;
          font-weight: 400;
          font-family: SFPro, "Helvetica Neue";
          text-decoration: none;
        }
      }
    }
  }
}

.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 18px;
  border-radius: 18px;
  border: 1px solid #6e6e73;
  color: #6e6e73;
  margin-bottom: 31px;
  font-family: SFPro, "Helvetica Neue";
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  text-align: right;
  width: 33%;
  animation: animated-title 4.5s .5s cubic-bezier(1, 0.15, .29, 1.21) infinite;
}

.right {
  width: 66%;
  color: #ccc;
}

h1 {
  font-weight: 500;
  margin: 0;
  font-size: 36px;
}

span {
  display: block;
  margin-bottom: 0;
}

.line {
  animation: line-color 5s infinite;
}

@keyframes animated-title {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(41px);
  }
  50% {
    transform: translateY(82px);
  }
  75% {
    transform: translateY(121px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes line-color {
  0% { color: #000; }
  25% { color: #ccc; }
  100% { color: #ccc; }
}

.line(4);
.line(@n, @i: 1) when (@i =< @n) {
  .line--@{i} {
    animation-delay: @i - .5s;
  }
  .line(@n, (@i + 1));
}
